amply==0.1.4
appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
cfgv==3.2.0
click==7.1.2
colorama==0.4.4
distlib==0.3.1
docutils==0.16
filelock==3.0.12
identify==1.5.9
importlib-metadata==2.0.0
iniconfig==1.1.1
nodeenv==1.5.0
numpy==1.19.4
packaging==20.4
pluggy==0.13.1
pre-commit==2.8.2
PuLP==2.3.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
PyYAML==5.3.1
six==1.15.0
toml==0.10.2
virtualenv==20.1.0
zipp==3.4.0
